<!-- question -->
<div ng-hide="show" class="main_row row valign-wrapper">
    <div class="main_container_vertical container valign col s8">
        <p class="sub_p col s12">Quel intérêt de connaître la domiciliation du journal ?</p>
        <div class="container_img_vertical">
            <img class="size_foot" src="./assets/img/large/magasine.jpg" alt="couvertures de magazines">
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice btn_next anim4" ng-click="vm.nextVisibleSlide(17)">
    <i class="material-icons">fast_forward</i>
</a>
