<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s7">
        <div class="container_img">
            <img class="responsive-img" src="views/pres1/assets/img/large/photo_lascars.jpg">
        </div>
    </div>
    <div class="main_sub_container container col s5">
        <div class="subContainer row col s12">
            <h1 class="sub_title">10h16</h3>
            <p class="sub_p col s12">
                <b>
                    <span>FRANCE</span>
                </b>
                - Des policiers pris à partie et braqués par un groupe de jeunes dans le quartier du Bois l'Abbé à Champigny-sur-Marne (Val-de-Marne).</p>
        </div>
        <div class="sub_container row col s12">
            <ul class="sub_main container col s12">
                <li class="col s6">
                    <a class="btn-floating btn-large choice" id="true_answer0" ng-click="vm.biggerTrueAnswer(0)"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</a>
                </li>
                <li class="col s6">
                    <a class="btn-floating btn-large choice" id="false_answer0" ng-click="vm.biggerFalseAnswer(0)"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>

<!-- answer -->
<div ng-show="show" class="main_row_answer anim4 row col s12">
    <div class="main_sub_container_answer container col s5 animRotate">
        <div id="zoom_area">
            <div id="zoom"></div>
            <img class="responsive-img" id="zoom_sur" src="views/pres1/assets/img/large/lascars_verite.png">
        </div>
        <a class="verif" target="blanck" href="http://www.konbini.com/fr/tendances-2/photo-jeune-visant-policier-avec-flingue-detournement-raciste/">Verification de l'information:http://www.konbini.com/</a>
    </div>
    <div class="main_container_answer container col s7 animRotate">
        <div class="marking position_top" ng-show="true">
            <img class="ship_icon" src="assets/img/angry_red-faux.png" alt="faux">
        </div>
        <!-- <div id="zoom"></div> -->
        <div id="zoom_area">
            <img class="responsive-img" id="zoom_sur" src="views/pres1/assets/img/large/photo_lascars.jpg">
        </div>
        <a class="verif" target="blanck" href="http://www.google.fr">Vérification sur : www.google.fr</a>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(4)">
    <i class="material-icons">fast_forward</i>
</a>
