<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s7">
        <video class="responsive-video" controls>
            <source src="views/pres2/assets/img/large/e-penser.mp4" type="video/mp4">
        </video>

    </div>
    <div class="main_sub_container container col s5">
        <div class="subContainer row col s12">
            <h1 class="sub_title">Zlatan Ibrahimović - Le Complot</h1>
            <p class="sub_p col s12">Et si Zlatan Ibrahimović n'était qu'un complot de l'Eglise catholique ?</p>
        </div>
        <div class="sub_container row col s12">
          <!-- <ul class="sub_main container col s12">
              <li class="col s6">
                <a class="btn-floating btn-large choice" id="true_answer0" ng-click="vm.biggerTrueAnswer(0)"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</a>
              </li>
              <li class="col s6">
                <a class="btn-floating btn-large choice" id="false_answer" ng-click="vm.biggerFalseAnswer(0)"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</a>
              </li>
          </ul> -->
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(13)"><i class="material-icons">fast_forward</i></a>
