<div class="main_center">
 <div class="center-align">
            <img class="main_lvdf_logo" src="assets/img/main_logo_lvdf.jpg">
            <p class="navbar_paragraphe">
                Ipsam vero urbem Byzantiorum fuisse refertissimam atque ornatissimam signis quis ignorat? Quae illi, exhausti sumptibus bellisque maximis, cum omnis Mithridaticos impetus totumque Pontum armatum affervescentem in Asiam atque erumpentem, ore repulsum
                et cervicibus interclusum suis sustinerent, tum, inquam, Byzantii et postea signa illa et reliqua urbis ornanemta sanctissime custodita tenuerunt.
            </p>
            <i class="material-icons white-text main_next_logo">play_circle_outline</i>
        </div>
</div>
