<div class="main_center">
    <div class="center-align">
        <img class="main_lvdf_logo" src="assets/img/main_logo_lvdf.jpg">
        <p class="navbar_paragraphe">
          Bienvenue sur le module de correction du Vrai du Faux, l’outil d’Education aux Médias et àl’Information (EMI) du réseau Information Jeunesse. Il vous permettra d’assurer une animation interactive adaptée à votre public selon des parcours prédéfinis ou en créant votre propre parcours.
        </p>
        <div class="center-align">
          <a href="#parcours">
            <i class="material-icons white-text main_next_logo">play_circle_outline</i>
            </a>
        </div>
    </div>
</div>

</div>


<div class="main_footer">
<nav>
    <div class="nav-wrapper white">


      <ul class="main_footer_link left">
          <li>
            <a href="http://www.unij.fr/" target="_blank"><img class="responsive-img social_footer" src="assets/img/unij.jpg"/></a>
          </li>
          <li>
            <a href="http://www.infojeune41.org/" target="_blank"><img class="responsive-img social_footer" src="assets/img/bij.jpg"/></a>
          </li>
          <li>
            <a href="http://www.interieur.gouv.fr/SG-CIPDR/CIPDR" target="_blank"><img class="responsive-img social_footer" src="assets/img/cipdr.png"/></a>
          </li>
          <li>
            <a href="http://wildcodeschool.fr" target="_blank"><img class="responsive-img social_footer" src="assets/img/wcs.png"/></a>
          </li>
      </ul>

        <ul class="main_footer_link right">
            <li>
                <a href="#mention" class="main_footer_link" href="sass.html">Mentions Copyright (c) 2016 Copyright Holder All Rights Reserved.</a>
            </li>
            <li>
                <a href="#credit" class="main_footer_link" href="badges.html">Crédit</a>
            </li>
        </ul>
    </div>
</nav>
</div>
