<nav>
    <div class="nav-wrapper white">
        <img class="navbar_logo" src="assets/img/logo.png"></a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="#/" class="footer_link">
                    <i class="material-icons left">&#xE88A;</i>Accueil</a>
            </li>
            <li>
                <a href="#parcours" class="footer_link">
                    <i class="material-icons left">&#xE897;</i>Parcours</a>
            </li>
            <!-- temporaire -->
            <li>
                <a href="#pres1" class="footer_link">
                    <i class="material-icons left">&#xE897;</i>ma vue</a>
            </li>
            <!--  -->
        </ul>
    </div>
</nav>
