<nav>
    <div class="nav-wrapper white">
        <a href="#/">
            <img class="navbar_logo" src="assets/img/logo.png"></a>
        <ul class="right">
            <li>
                <a href="#/" class="navbar_link">
                    <i class="material-icons left">&#xE88A;</i>Accueil</a>
            </li>
            <li>
                <a href="#/parcours" class="navbar_link">
                    <i class="material-icons left">&#xE897;</i>Parcours</a>
            </li>
            <!-- temporaire -->
            <li>
                <a href="#/index1" class="navbar_link">
                    <i class="material-icons left">&#xE897;</i>ma vue</a>
            </li>
            <!--  -->
        </ul>
    </div>
</nav>
