<div class="row parcours_white_border" ng-controller='parcoursController as vm'>
    <div class="col s2 parcours_blue_rectangle valign-wrapper" ng-mouseenter="vm.unlock()" ng-mouseleave="vm.lock()">
        <div class="valign">
            <span class="parcours_styleFirstSentence">Parcours Collège</span>
            <div ng-class="{{'vm.cadenas'}}"></div>
        </div>
    </div>
    <div class="col s2 parcours_blue_rectangle valign-wrapper" ng-mouseenter="vm.unlock()" ng-mouseleave="vm.lock()">
        <div class="valign">
            <span class="parcours_styleSentence">Parcours 2</span>
            <div ng-class="{{'vm.cadenas'}}"></div>
        </div>
    </div>
    <div class="col s2 parcours_blue_rectangle valign-wrapper" ng-mouseenter="vm.unlock()" ng-mouseleave="vm.lock()">
        <div class="valign">
            <span class="parcours_styleSentence">Parcours 3</span>
            <div ng-class="{{'vm.cadenas'}}"></div>
        </div>
    </div>
    <div class="col s2 parcours_blue_rectangle valign-wrapper" ng-mouseenter="vm.unlock()" ng-mouseleave="vm.lock()">
        <div class="valign">
            <span class="parcours_styleSentence">Parcours 4</span>
            <div ng-class="{{'vm.cadenas'}}"></div>
        </div>
    </div>
    <div class="col s2 parcours_blue_rectangle valign-wrapper" ng-mouseenter="vm.unlock()" ng-mouseleave="vm.lock()">
        <div class="valign">
            <span class="parcours_styleSentence">Parcours 5</span>
            <div ng-class="{{'vm.cadenas'}}"></div>
        </div>
    </div>
    <div class="col s2 parcours_blue_rectangle valign-wrapper" ng-mouseenter="vm.actif()" ng-mouseleave="vm.repos()">
        <div class="valign">
            <span class="parcours_styleSentence">Parcours perso.</span>
            <div ng-class="{{'vm.crayon'}}"></div>
        </div>
    </div>
</div>
