<!-- question -->
<div class="main_row row">
    <div class="main_container_putaclic container col s6">
        <div class="container_img_putaclic">
            <img class="responsive-img pointer" src="./assets/img/large/clonezone.png" alt="capture d'image de Clone Zone">
        </div>
    </div>
    <div class="main_sub_container valign-wrapper col s4">
        <div class="sub_container valign col s12">
            <p class="sub_p">Démonstration de l’outil Clone Zone :</p>
            <a href="http://clonezone.link/" target="_blank" class="sub_p">http://clonezone.link/</a>
        </div>
    </div>
</div>
<a class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(14)">
    <i class="material-icons">fast_forward</i>
</a>
