<nav class="BlueBackground">
    <div class="nav-wrapper">
        <a href="#!/">
            <img class="navbar_logo" src="assets/img/logo_white.png"></a>
        <ul class="right">
            <li>
                <a href="#!/" class="navbar_link white-text">
                    <i class="material-icons left">&#xE88A;</i>Accueil</a>
            </li>
            <li>
                <a href="#!/parcours" class="navbar_link white-text">
                    <i class="material-icons left">&#xE897;</i>Parcours</a>
            </li>
        </ul>
    </div>
</nav>

<div class="center navbar_paragraphe">
    <h1>Crédits</h1>
    <h4>Création Graphique : BIJ Orne.</h4>
    <p>
        Crédits images : Fotolia - Freepik - Pic Monjey - CloneZone - Design Crowd - H & M - Téfal - Word Press Photo - Le Museion - Les Lascars - Welections - NRA - Youtube - Facebook.
    </p>
    <p>
        Avertissement - Le Vrai du Faux est un outil d’Éducation aux Médias et à l’Information édité par l’Union Nationale de l’Information Jeunesse (UNIJ) selon une démarche initiée et coordonnée par le BIJ de l’Orne. Il est un support d’animation et de
        prévention et ne peut en aucun cas être considéré comme un magazine d’information.
    </p>
    <p>
        Crédits auteurs : Le Gorafi - Le Tigre - Le Parisien - 20 Minutes - Presse Océan - Sud-Ouest - La Provence - L’Express - Ouest France - France TV Info - Le Huffington Post - RTL - Europe 1 - BFM TV - L’Equipe - Eurosport - La Dépêche - Métronews -
        Olympique.org - Liminaire.fr - IFOP - Qapa.
    </p>
</div>

<div class="row center">
    <h4>Les développeurs
    </h4>
    <div class="col s4"><img class="responsive-img circle" src="assets/img/camilleFontaine.jpg"></div>
    <div class="col s4"><img class="responsive-img circle" src="assets/img/gaelleMorin.jpg"></div>
    <div class="col s4"><img class="responsive-img circle" src="assets/img/stephaneSenocq.jpg"></div>
    <div class="col s4">Camile Fontaine
        <br>
        <a href="https://github.com/CamJr" target="_blank">Github.com/CamJr</a>
        <br>
        <a href="https://www.linkedin.com/in/camfontaine/" target="_blank">Linkedin.com/camfontaine/</a>
    </div>
    <div class="col s4">Gaëlle Morin<br>
        <a href="https://github.com/Daedalus418" target="_blank">Github.com/Daedalus418</a>
        <br>
        <a href="https://www.linkedin.com/in/gaelle-morin/" target="_blank">Linkedin.com/gaelle-morin/</a>
    </div>
    <div class="col s4">Stephane Senocq<br>
        <a href="https://github.com/stephsen" target="_blank">Github.com/stephsen</a>
        <br>
        <a href="https://www.linkedin.com/in/stephane-senocq-412bb9130/" target="_blank">Linkedin.com/stephane-senocq/</a>
    </div>
</div>

<div class="main_footer">
    <nav>
        <div class="nav-wrapper BlueBackground ">

            <ul class="main_footer_link left">
                <li>
                    <a href="http://www.unij.fr/" target="_blank"><img class="responsive-img social_footer" src="assets/img/unij.jpg"/></a>
                </li>
                <li>
                    <a href="http://www.infojeune41.org/" target="_blank"><img class="responsive-img social_footer" src="assets/img/bij.jpg"/></a>
                </li>
                <li>
                    <a href="http://www.interieur.gouv.fr/SG-CIPDR/CIPDR" target="_blank"><img class="responsive-img social_footer" src="assets/img/cipdr.png"/></a>
                </li>
                <li>
                    <a href="http://wildcodeschool.fr" target="_blank"><img class="responsive-img social_footer" src="assets/img/wcs.png"/></a>
                </li>
            </ul>

            <ul class="main_footer_link right">
                <li>
                    <a href="#!/mention" class="main_footer_link whiteFont">Mentions Légales</a>
                </li>
                <li>
                    <a href="#!/credit" class="main_footer_link whiteFont">Crédits</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
