<nav class="BlueBackground">
    <div class="nav-wrapper">
        <a href="#!/">
            <img class="navbar_logo" src="assets/img/logo_white.png"></a>
        <ul class="right">
            <li>
                <a href="#!/" class="navbar_link white-text">
                    <i class="material-icons left">&#xE88A;</i>Accueil</a>
            </li>
            <li>
                <a href="#!/parcours" class="navbar_link white-text">
                    <i class="material-icons left">&#xE897;</i>Parcours</a>
            </li>
        </ul>
    </div>
</nav>


<div class="center navbar_paragraphe mentionlegal">
  <h1>Mentions légales</h1>
  <h4>Création - Contact</h4>
  <p>
    Le Vrai du Faux est une création du groupe Numérique de l’Union Nationale de l’Information Jeunesse (www.unij.fr).
    En cas de questions ou de remarques sur
    l’animation, vous pouvez contacter le Bureau Information Jeunesse de l’Orne (Tél. 02 3380 48 90 – contact@bij-orne.com).
  </p>
  <p>
    Avertissement - Le Vrai du Faux est un outil d’Éducation aux Médias et à l’Information édité par l’Union Nationale de l’Information Jeunesse (UNIJ)
    selon une démarche initiée et coordonnée par le BIJ de l’Orne. Il est un support d’animation et de prévention et ne peut en aucun cas être considéré
    comme un magazine d’information.
  </p>
  <p>
    Toute reproduction, représentation, traduction ou adaptation qu’elle soit intégrale ou partielle, quels qu’en soit le procédé,
    le support ou le média est strictement interdite sans l’autorisation explicite de l’éditeur
    sauf dans les cas prévus par l’article L.122-5 du code de la propriété intellectuelle.
  </p>
</div>


<div class="main_footer">
<nav>
    <div class="nav-wrapper BlueBackground ">


      <ul class="main_footer_link left">
          <li>
            <a href="http://www.unij.fr/" target="_blank"><img class="responsive-img social_footer" src="assets/img/unij.jpg"/></a>
          </li>
          <li>
            <a href="http://www.infojeune41.org/" target="_blank"><img class="responsive-img social_footer" src="assets/img/bij.jpg"/></a>
          </li>
          <li>
            <a href="http://www.interieur.gouv.fr/SG-CIPDR/CIPDR" target="_blank"><img class="responsive-img social_footer" src="assets/img/cipdr.png"/></a>
          </li>
          <li>
            <a href="http://wildcodeschool.fr" target="_blank"><img class="responsive-img social_footer" src="assets/img/wcs.png"/></a>
          </li>
      </ul>

        <ul class="main_footer_link right">
            <li>
                <a href="#!/mention" class="main_footer_link whiteFont">Mentions légales</a>
            </li>
            <li>
                <a href="#!/credit" class="main_footer_link whiteFont">Crédits</a>
            </li>
        </ul>
    </div>
</nav>
</div>
