/* Animation page */

/* Page hidden */
html         {
   overflow-y:hidden;
 }

 /* page parameters */
.page        {
	bottom:0;
	padding-top:24vh;
	position:absolute;
	text-align:center;
	top:6vh;
	width:100%;
}

/* offset page */
.page.ng-leave 	{
   z-index:50;
}
.page.ng-enter 	{
   z-index:40;
 }

 /* Animation 1 */
 .anim1.ng-leave         {
     -webkit-transform-origin: 0% 0%;
 	-webkit-animation: rotateFall 1s both ease-in;
 	-moz-transform-origin: 0% 0%;
 	-moz-animation: rotateFall 1s both ease-in;
 	transform-origin: 0% 0%;
 	animation: rotateFall 1s both ease-in;
 }
 .anim1.ng-enter 		{
     -webkit-animation:scaleUp 0.5s both ease-in;
 	-moz-animation:scaleUp 0.5s both ease-in;
 	animation:scaleUp 0.5s both ease-in;
 }

 /* Animation 2 */
 .anim2.ng-leave        {
  -webkit-animation:slideOutLeft 0.5s both ease-in;
 	-moz-animation:slideOutLeft 0.5s both ease-in;
 	animation:slideOutLeft 0.5s both ease-in;
 }
 .anim2.ng-enter 		{
  -webkit-animation:slideInRight 0.5s both ease-in;
 	-moz-animation:slideInRight 0.5s both ease-in;
 	animation:slideInRight 0.5s both ease-in;
 }

 /* Animation 3 */
 .anim3.ng-leave {
  -webkit-transform-origin: 50% 50%;
 	-webkit-animation: rotateOutNewspaper .5s both ease-in;
 	-moz-transform-origin: 50% 50%;
 	-moz-animation: rotateOutNewspaper .5s both ease-in;
 	transform-origin: 50% 50%;
 	animation: rotateOutNewspaper .5s both ease-in;
 }
 .anim3.ng-enter {
  -webkit-animation:slideInUp 0.5s both ease-in;
 	-moz-animation:slideInUp 0.5s both ease-in;
 	animation:slideInUp 0.5s both ease-in;
 }

 /* rotate and fall */
 @-webkit-keyframes rotateFall {
 	0% { -webkit-transform: rotateZ(0deg); }
 	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
 	40% { -webkit-transform: rotateZ(17deg); }
 	60% { -webkit-transform: rotateZ(16deg); }
 	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
 }
 @-moz-keyframes rotateFall {
 	0% { -moz-transform: rotateZ(0deg); }
 	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
 	40% { -moz-transform: rotateZ(17deg); }
 	60% { -moz-transform: rotateZ(16deg); }
 	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
 }
 @keyframes rotateFall {
 	0% { transform: rotateZ(0deg); }
 	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
 	40% { transform: rotateZ(17deg); }
 	60% { transform: rotateZ(16deg); }
 	100% { transform: translateY(100%) rotateZ(17deg); }
 }

 /* scale up */
 @keyframes scaleUp {
 	from 		{ opacity: 0.3; transform: scale(0.8); }
 }
 @-moz-keyframes scaleUp {
 	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
 }
 @-webkit-keyframes scaleUp {
 	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
 }

 /* slide in from the right */
 @keyframes slideInRight {
 	from 	{ transform:translateX(100%); }
 	to 		{ transform: translateX(0); }
 }
 @-moz-keyframes slideInRight {
 	from 	{ -moz-transform:translateX(100%); }
 	to 		{ -moz-transform: translateX(0); }
 }
 @-webkit-keyframes slideInRight {
 	from 	{ -webkit-transform:translateX(100%); }
 	to 		{ -webkit-transform: translateX(0); }
 }

 /* slide in from the bottom */
 @keyframes slideInUp {
 	from 	{ transform:translateY(100%); }
 	to 		{ transform: translateY(0); }
 }
 @-moz-keyframes slideInUp {
 	from 	{ -moz-transform:translateY(100%); }
 	to 		{ -moz-transform: translateY(0); }
 }
 @-webkit-keyframes slideInUp {
 	from 	{ -webkit-transform:translateY(100%); }
 	to 		{ -webkit-transform: translateY(0); }
 }

 /* slide in from the bottom */
 @keyframes slideOutLeft {
 	to 		{ transform: translateX(-100%); }
 }
 @-moz-keyframes slideOutLeft {
 	to 		{ -moz-transform: translateX(-100%); }
 }
 @-webkit-keyframes slideOutLeft {
 	to 		{ -webkit-transform: translateX(-100%); }
 }

 /* rotate out newspaper */
 @-webkit-keyframes rotateOutNewspaper {
 	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
 }
 @-moz-keyframes rotateOutNewspaper {
 	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
 }
 @keyframes rotateOutNewspaper {
 	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
 }

/*fin animation page*/

/* zoom animation */
#zoom_area {
  position: relative;
  margin-left: 30px;
  width: 100%;
}
#zoom_area img {
  /*margin-left: 0px;*/
  width: 100%;
  height: auto;
}
#zoom {
  position: absolute;
  display: none;
  border-radius: 100%;
  box-shadow: 0 0 0 7px rgba(255,255,255,.8), 0 0 7px 7px rgba(20,20,20,.25), inset 0 0 40px 2px rgba(20,20,20,.25);
  width: 175px;
  height: 175px;
  z-index: 60;
}

/*rotate image*/

.rotation {
-webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
}
.rotation:focus {
transform: rotateX(180deg);
-webkit-transform: rotateX(180deg);
-ms-transform: rotateX(180deg);
}

/*Marking-stamp effect*/

.marking {
  position: absolute;
  margin-top: -5%;
  margin-left: 25%;
  height: 20%;
  -webkit-animation:1s stamp;
  -moz-animation: 1s stamp;
  animation:1s stamp;
  -webkit-transform : rotate(-20deg);
  -moz-animation: rotate(-20deg);
  transform: rotate(-20deg);
}

@keyframes stamp {
  0% {
    opacity:1;
    -webkit-transform: rotate(-20deg) scale(2);
    -moz-transform: rotate(-20deg) scale(2);
    transform: rotate(-20deg) scale(2);
  }

  100% {
    opacity:1;
    -webkit-transform: rotate(40deg) scale(1);
    -moz-transform: rotate(40deg) scale(1);
    transform: rotate(40deg) scale(1);
  }
}
