<!-- question -->
<div ng-hide="show" class="main_row row">
    <div class="container col s8">
        <p class="sub_p col s12">Proposez différents recadrages possibles pour ce tableau, afin de lui faire dire totalement autre chose.</p>
        <img ng-click="show = true" class="size_middle_answer pointer" src="./assets/img/large/radeau_meduse.jpg" alt="Le Radeau de la Méduse">
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row row">
    <div class="container col s8">
        <p class="sub_p col s12">Quel est l’intérêt de procéder à de tels recadrages ?</p>
        <img class="size_middle_answer slideExpandUp" src="./assets/img/large/radeau_meduse.jpg" alt="Le Radeau de la Méduse">
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(16)">
    <i class="material-icons">fast_forward</i>
</a>
