    <!-- question -->
    <div ng-hide="show" class="main_row row col s12">
        <div class="main_container container col s7">
            <div class="container_img_vertical">
                <img class="responsive-img slideExpandUp" src="./assets/img/large/oeuvre_art.png" alt="art">
            </div>
        </div>
    <div class="main_sub_container container col s5">
      <ul ng-hide="show" class="response-logo valign-wrapper col s4">
          <li class="col s6 valign">
              <img class="choice" id="true_answer0" src="assets/img/like_blue_vrai.png" alt="vrai" ng-click="vm.biggerTrueAnswer(0)">
          </li>
          <li class="col s6 valign">
              <img class="choice" id="false_answer0" src="assets/img/angry_red-faux.png" alt="faux" ng-click="vm.biggerFalseAnswer(0)">
          </li>
      </ul>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row col s12">
        <div class="marking position_right_imgvertic_art" ng-show="true">
            <img class="ship_icon" src="./assets/icon/like_blue.png" alt="vrai">
        </div>
        <div class="container_img_vertical">
            <img class="responsive-img slideExpandUp" src="./assets/img/large/oeuvre_art.png" alt="art">
        </div>

        <div class="main_sub_container col s6">
            <div class="sub_container col s12">
                <p class="sub_p">Quelques conseils pour valider ses informations<br>
                  - Prendre le temps de bien s’informer en croisant autant que possible ses sources<br>
                  - S’appuyer sur des sources d’informations fiables<br>
                  - Faire la distinction entre faits et interprétations.</p>
            </div>
        </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(26)">
    <i class="material-icons">fast_forward</i>
</a>
