<!-- question -->
<div ng-hide="show" class="main_row row">
    <div class="main_container_video col s7">
        <video class="responsive-video video" controls>
            <source src="./assets/img/large/e_penser.mp4" type="video/mp4">
        </video>
    </div>
    <div class="main_sub_container valign-wrapper container col s5">
        <div class="subContainer container col s12 valign">
            <h1 class="sub_title">E-penser - Le lieu le plus dangereux de France -</h1>
            <p class="sub_p col s12">Connaître le lieu le plus dangereux de France, savoir ce qui fait que Nicolas Cage fait des films...ou pas. Et bien sûr, restez curieux, et prenez le temps d'e-penser.</p>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(18)">
    <i class="material-icons">fast_forward</i>
</a>
