<!-- question -->
<div ng-hide="show" class="main_row valign-wrapper row col s12">
    <div class="main_container_grey_high valign container col s9">
        <div class="container_img_grey valign col s9">
            <img class="img_grey_djibouti" src="views/pres1/assets/img/large/Djibouti_John_Steinmeyer.jpg">
        </div>
    </div>
    <div class="main_sub_container col s3">
        <div class="sub_container row col s12">
            <p class="sub_p">Créez votre légende la photo suivante</p>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row col s12">
    <div class="main_container_grey_high_answer valign container col s9">
        <div class="marking position_right_large" ng-show="true">
            <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
        </div>
        <div class="container_img_grey_answer col s8">
            <div class="container_img">
                <img class="img_grey" src="views/pres1/assets/img/large/Djibouti_John_Steinmeyer.jpg">
            </div>
        </div>
        <div class="container_grey col s4">
            <h2 class="main_title">Légende originale :</h2>
            <p class="main_p col s12">Des migrants africains tentent de capter un réseau téléphonique pour joindre leurs proches le 26 février 2013 à Djibouti.</b><br /><br />©John Steinmeyer. Photo lauréate du World Press Photo 2014.</p>
        </div>
    </div>
    <div class="main_sub_container col s3">
        <div class="sub_container row col s12">
            <p class="sub_p">Créez votre légende la photo suivante</p>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(4)">
    <i class="material-icons">fast_forward</i>
</a>
