<h1 ng-hide="show" class="title">Mauvaises ondes ...</h1>
<div ng-hide="show" class="main_row valign-wrapper row">
    <div class="main_container_grey_video valign container col s8">
        <video class="container_video_grey col s7" controls>
            <source class="video_grey" src="./assets/img/large/mobile_popcorn.mp4" type="video/mp4">
        </video>
        <div class="container_grey col s5">
            <p class="main_p col s12">
                Une contre-publicité qui passe mal pour les fabricants de mobile alors que le débat sur la dangerosité des ondes reste entier. Une vidéo virale circulant sur internet montre des téléphones recevant des appels simultanés et transformant des
                grains de maïs en pop- corn. Une prouesse que l’on savait jusqu’à aujourd’hui réalisable par un four micro-onde. Et peu de gens sont prêts à glisser leur tête dans le four !</p>
        </div>
        <p>Lien vers la vidéo : <a href="https://www.youtube.com/watch?v=munalYhAP4E" target="_blank">https://www.youtube.com/watch?v=munalYhAP4E</a></p>
    </div>
    <div class="main_sub_container col s4">
        <!-- <div class="sub_container row col s12">
            <p class="sub_p">Un détail interpelle sur l’image.<br/>Et si vous regardiez l’image d’un peu plus près ?</p>
            <p class="sub_p">La recherche par image, un bon moyen d’en savoir plus sur un visuel et son origine.</p>
        </div> -->
    </div>
</div>
<ul ng-hide="show" class="response-logo valign-wrapper col s4">
    <li class="col s6 valign">
        <img class="choice" id="true_answer0" src="assets/img/like_blue_vrai.png" alt="vrai" ng-click="vm.biggerTrueAnswer(0)">
    </li>
    <li class="col s6 valign">
        <img class="choice" id="false_answer0" src="assets/img/angry_red-faux.png" alt="faux" ng-click="vm.biggerFalseAnswer(0)">
    </li>
</ul>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<h3 ng-show="show">Peut-on faire cuire du pop-corn avec des téléphones portables ? La réponse dans l’émission E=m6.</h3>
<div ng-show="show" class="main_row row">
    <div class="main_container_video_popcorn container col s7">
        <video class="responsive-video video_popcorn" controls>
            <source src="./assets/img/large/popcorn_portable.mp4" type="video/mp4">
        </video>
    </div>
    <div class="marking position_right_imghoriz_popcorn" ng-show="true">
        <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
    </div>
    <div class="main_sub_container valign-wrapper container col s5">
        <div class="subContainer container col s12 valign">
            <p class="sub_p col s12">Il est intéressant de connaître l’origine de ces  vidéos virales autour du pop corn et des téléphones portables.</p>
            <p class="sub_p col s12">Elles prennent pour origine un buzz orchestré par la société Cardo Systems en 2008 afin de promouvoir de nouveaux écouteurs !</p>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(25)">
    <i class="material-icons">fast_forward</i>
</a>
