<!-- question -->
<div ng-hide="show" class="main_row valign-wrapper row">
    <div class="valign container col s9">
        <div class="container_img_grey valign col s10">
            <img class="img_grey_djibouti" src="./assets/img/large/djibouti.jpg" alt="migrants tenant de capter du réseau">
        </div>
    </div>
    <div class="main_sub_container col s4">
        <div class="sub_container col s12">
            <p class="sub_p">Créez votre propre légende à partir de la photo suivante.</p>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row col s12">
    <div class="valign row">
        <div class="marking position_right_large_djibouti" ng-show="true">
            <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
        </div>
        <div class="container_img_grey_answer col s7">
            <div class="container_img">
                <img class="img_grey" src="./assets/img/large/djibouti.jpg" alt="migrants tenant de capter du réseau">
            </div>
        </div>
        <div class="container_grey col s5">
            <h2 class="main_title_blue">Légende originale :</h2>
            <p class="sub_p col s12">Des migrants africains tentent de capter un réseau téléphonique pour joindre leurs proches le 26 février 2013 à Djibouti.</b><br/><br/>©John Steinmeyer. Photo lauréate du World Press Photo 2014.</p>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(4)">
  <i class="material-icons">fast_forward</i>
</a>
