<!-- question -->
<div class="main_row row col s12">
    <div class="main_container_putaclic container col s6">
        <div class="container_img_putaclic">
            <img class="responsive-img pointer" src="views/pres1/assets/img/large/Mgims.png" ng-click="showPutaclic = true">
        </div>
    </div>
    <div class="main_sub_container container col s6">
        <div ng-show="showPutaclic" class="subContainer row col s12 animRotate">
            <!-- <h1 class="sub_title">Suite de l'article :</h1> -->
            <!-- <div class="container_img">
                <img class="responsive-img" src="views/pres1/assets/img/large/messi.png" ng-click="showPutaclic = true">
            </div> -->
        </div>
    </div>
</div>
<a class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(9)"><i class="material-icons">fast_forward</i></a>
