<!-- question -->
<div ng-hide="show" class="main_row row">
    <div class="main_container container col s9">
      <img ng-click="show = true" class="size_middle_answer pointer" src="./assets/img/large/enquete1.jpg">
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true"><i class="material-icons">fast_forward</i></a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row">
    <div class="main_container valign col s6">
      <img ng-click="show = true" class="pointer fab_chiffre" src="./assets/img/large/enquete-resultat.jpg">
    </div>
    <div class="main_container valign col s6">
      <img ng-click="show = true" class="pointer fab_chiffre" src="./assets/img/large/enquete-interpretation.jpg">
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(21)"><i class="material-icons">fast_forward</i></a>
