<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s7">
        <video class="responsive-video" controls>
            <source src="./assets/img/large/hippopotame.mp4" type="video/mp4">
        </video>

    </div>
    <div class="main_sub_container container col s5">
        <div class="subContainer row col s12">
            <h1 class="sub_title">Il en faut peu pour être un héros...</h1>
            <p class="sub_p col s12">Afrique du Sud - Les lois de la nature sont parfois surprenantes.
              Un vidéaste est le témoin d’une incroyable scène digne du Livre de la Jungle.
              Elle remet en cause beaucoup de nos croyances sur le monde animal.
              Sous ses yeux ébahis, un hippopotame chevaleresque vole au secours d’une jeune impala à l’agonie. Absolument bluffant !
            </p>
        </div>
        <div class="sub_container row col s12"></div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(33)">
    <i class="material-icons">fast_forward</i>
</a>
