<h1 class="title">Mauvaises ondes ...</h1>
<div ng-hide="show" class="main_row valign-wrapper row col s12">
    <div class="main_container_grey_video valign container col s8">
      <video class="container_video_grey col s7" controls>
          <source class="video_grey" src="views/pres3/assets/img/large/mobile-pop-corn.mp4" type="video/mp4">
      </video>
        <div class="container_grey col s5">
            <h4 class="main_title">Une contre-publicité qui passe mal pour les fabricants de mobile</h4>
            <p class="main_p col s12">alors que le débat sur la dangerosité des ondes reste entier. Une vidéo virale circulant sur internet montre des téléphones recevant des appels simultanés et transformant des grains de maïs en pop- corn. Une prouesse que l’on savait jusqu’à
            aujourd’hui réalisable par un four micro-onde. Et peu de gens sont prêts à glisser leur tête dans le four !</p>
        </div>
        <p>Lien vers la vidéo : https://www.youtube.com/watch?v=munalYhAP4E</p>
    </div>
    <div class="main_sub_container col s4">
        <!-- <div class="sub_container row col s12">
            <p class="sub_p">Un détail interpelle sur l’image.<br/>Et si vous regardiez l’image d’un peu plus près ?</p>
            <p class="sub_p">La recherche par image, un bon moyen d’en savoir plus sur un visuel et son origine.</p>
        </div> -->
    </div>
</div>
<ul ng-hide="show" class="response-logo valign-wrapper col s4">
    <li class="col s6 valign">
        <img class="choice" id="true_answer0" src="assets/img/like_blue_vrai.png" alt="vrai" ng-click="vm.biggerTrueAnswer(0)">
    </li>
    <li class="col s6 valign">
        <img class="choice" id="false_answer0" src="assets/img/angry_red-faux.png" alt="faux" ng-click="vm.biggerFalseAnswer(0)">
    </li>
</ul>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row col s12">
    <div class="main_container_grey_video_answer valign container col s8">
        <div class="marking position_right_imghoriz" ng-show="true">
            <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
        </div>
        <video class="responsive-video container_video_grey" controls>
            <source src="views/pres3/assets/img/large/Cuire-du-popcorn-au-telephone-portable.mp4" type="video/mp4">
        </video>
        <div class="container_grey col s4">
            <h2 class="main_title"></h2>
            <p class="main_p col s12"><b></b></p>
        </div>
    </div>
    <div class="main_sub_container col s4">
        <div class="sub_container row col s12">
            <p class="sub_p">Peut-on faire cuire du pop-corn avec des téléphones portables ? La réponse dans l’émission E=m6</p>
            <p class="sub_p"></p>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(1)">
    <i class="material-icons">fast_forward</i>
</a>
