<!-- question -->
<div ng-hide="show" class="main_row valign-wrapper row col s12">
    <div class="container col s9">
        <div class="container_img_grey col s10">
            <img class="container_img_vertical" src="./assets/img/large/minions1.jpg">
        </div>
        <!-- <div class="bulle col s4">
          <img class="responsive-img left" src="./assets/img/large/minionsBulle.png">
        </div> -->
        <div class="container_grey col s2 m3">
            <h2 class="main_title"></h2>
            <p class="main_p col s12"></p>
        </div>
    </div>
    <div class="main_sub_container col s5">
    </div>
</div>
<ul ng-hide="show" class="response-logo valign-wrapper col s4">
    <li class="col s6 valign">
        <img class="choice" id="true_answer0" src="assets/img/like_blue_vrai.png" alt="vrai" ng-click="vm.biggerTrueAnswer(0)">
    </li>
    <li class="col s6 valign">
        <img class="choice" id="false_answer0" src="assets/img/angry_red-faux.png" alt="faux" ng-click="vm.biggerFalseAnswer(0)">
    </li>
</ul>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>

<!-- answer -->
<div ng-show="show" class="main_row_answer row col s12">
    <div class="main_container_answer container col s12">
        <div class="marking position_top_flipflop" ng-show="vm.marking == true">
          <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
        </div>
        <div class="container_img_flip photo" id="photo" ng-click="vm.flip()">
            <div class="front face" id="front">
                <img src="./assets/img/large/minions.png">
            </div>
            <div class="inner-left face" id="inner-left">
                <img src="./assets/img/large/minionsHighlight.png">
            </div>
            <div class="face" id='inner-right'>
                <img src="./assets/img/large/articleMinionsHighlight.png">
            </div>
        </div>
            <img ng-show="vm.minion == true" class="responsive-img" id="logo_minion" src="./assets/img/large/les-minions.png">
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(11)">
    <i class="material-icons">fast_forward</i>
</a>
