<div class="main_sheet13">
    <p class="line anim-typewriter">À votre avis qu’est ce qu’un expert ou spécialiste ?</p>
    <p class="line anim-typewriter">Deux questions à se poser à ce sujet :</p>
    <p class="line anim-typewriter">- Qui sont-ils réellement ?</p>
    <p class="line anim-typewriter">- Quelles sont leurs fonctions exactes ?</p>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(33)">
    <i class="material-icons">fast_forward</i>
</a>
