/* BODY*/
body {
    background-color: #2a477c;
    font-style: Roboto;
}

.navbar_link {
    color: #2a477c;
    font-size: 2em;
}

/* NAVBAR*/

.navbar_logo {
  height: 100%;
}

.footer_link, nav {
  height: 50px;
  line-height: 50px;
}

nav .footer_link i {
  height: 50px;
  line-height: 50px;
}

/* MAIN*/

.main_center{
  margin-top: 5%;
}
.main_lvdf_logo {
  width: 50%;
}

.navbar_paragraphe {
    color: white;
    margin-left: 25%;
    margin-right: 25%;
}

.main_next_logo{
  font-size: 5em;
}

/* NAVBAR*/

.footer_link {
    color: #2a477c;
    font-size: 1em;
    display: flex;
    justify-content: center;
}
