/* BODY*/
body {
    background-color: #2a477c;
    font-style: Roboto;
}


/* NAVBAR*/
.navbar_link {
  color: #2a477c;
}
nav{
  height: 62px;
}

nav img  {
  width: 100%;
}

.navbar_logo{
max-height:65px;
width:auto;
height:100%;
}

/* Main */

.main_center{
  margin-top: 2%;
}
.main_paragraphe {
    color: white;
    margin-left: 10px;
    margin-right: 10px;
}

.main_next_logo{
  font-size: 10vh;
}

.main_lvdf_logo{
  width:53%;
}

/* Footer*/

.main_footer {
    max-width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 100
}


.main_footer_link {
    color: #2a477c;
    font-size: 1em;
    display: flex;
    justify-content: center;
}
