<!-- question -->
<div ng-hide="show" class="main_row valign-wrapper row">
    <div class="main_container_grey valign-wrapper container col s8">
        <div class="container_img_grey valign col s8">
            <img class="img_grey" src="./assets/img/large/photo_lascars.jpg" alt="image extraite du film 'les lascars'">
        </div>
        <div class="container_grey col s4">
            <h2 class="main_title">10h16</h2>
            <p class="main_p col s12">
                <b>
                    <span>FRANCE</span>
                </b>- Des policiers pris à partie et braqués par un groupe de jeunes dans le quartier du Bois l'Abbé à Champigny-sur-Marne (Val-de-Marne).</p>
        </div>
    </div>
    <div class="main_sub_container col s4"></div>
</div>
<ul ng-hide="show" class="response-logo valign-wrapper col s4">
    <li class="col s6 valign">
        <img class="choice" id="true_answer0" src="assets/img/like_blue_vrai.png" alt="vrai" ng-click="vm.biggerTrueAnswer(0)">
    </li>
    <li class="col s6 valign">
        <img class="choice" id="false_answer0" src="assets/img/angry_red-faux.png" alt="faux" ng-click="vm.biggerFalseAnswer(0)">
    </li>
</ul>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row">
    <div class="main_container_grey valign-wrapper container col s8">
        <div class="marking position_right_imghoriz" ng-show="true">
            <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
        </div>
        <div class="container_img_grey valign-wrapper col s8">
            <div class="sub_container_img_grey valign">
                <img class="img_grey" src="./assets/img/large/photo_lascars.jpg" alt="image extraite du film 'les lascars'">
            </div>
        </div>
        <div class="container_grey col s4">
            <h2 class="main_title">10h16</h2>
            <p class="main_p col s12">
                <b>
                    <span>FRANCE</span>
                </b>- Des policiers pris à partie et braqués par un groupe de jeunes dans le quartier du Bois l'Abbé à Champigny-sur-Marne (Val-de-Marne).</p>
        </div>
    </div>
    <div class="main_sub_container col s4">
        <div class="sub_container col s12">
            <p class="sub_p">Essayez d’en savoir un peu plus sur cette photo avec la recherche par images.<br/>La légende est un élément de compréhension d’une photo. Elle permet de saisir le contexte de la prise de vue. Mais que se passe-il quand la légende est détournée ?</p>
            <p class="sub_p">Quelle utilité ici de détourner la légende de la photo ? A qui profite le crime ?</p>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(4)">
    <i class="material-icons">fast_forward</i>
</a>
