<!-- question -->
<div ng-hide="show" class="main_row valign-wrapper row">
    <div class="main_container_grey valign-wrapper container col s8">
        <div class="container_img_grey valign col s7">
            <img class="img_grey" src="./assets/img/large/vancouver_Photo_Plan_Large1.jpg" alt="photo pendant les émeutes de Vancouver">
        </div>
        <div class="container_grey col s5">
            <h2 class="main_title">22h46</h2>
            <p class="main_p col s12">
                <b>
                    <span>CANADA</span>
                </b>- Scène de romantisme au milieu des forces de l’ordre canadiennes pendant les émeutes qui ont suivi la défaite des Canucks de Vancouver face aux Bruins de Boston en finale de la Stanley Cup de hockey sur glace.</p>
        </div>
    </div>
    <div class="main_sub_container col s4"></div>
</div>
<ul ng-hide="show" class="response-logo valign-wrapper col s4">
    <li class="col s6 valign">
        <img class="choice" id="true_answer0" src="assets/img/like_blue_vrai.png" alt="vrai" ng-click="vm.biggerTrueAnswer(0)">
    </li>
    <li class="col s6 valign">
        <img class="choice" id="false_answer0" src="assets/img/angry_red-faux.png" alt="faux" ng-click="vm.biggerFalseAnswer(0)">
    </li>
</ul>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row_answer row">
    <div class="main_container_answer container col s12">
        <div class="marking position_top_flipflop" ng-show="vm.marking == true">
            <img class="ship_icon" src="./assets/icon/angry_red.png" alt="faux">
        </div>
        <p class="main_p_center col s12">
            <b>Tout est parfois une question de point de vue et de timing.</b>
        </p>
        <div class="container_img_flip photo" id="photo" ng-click="vm.flip()">
            <div class="front face" id="front">
                <img src="./assets/img/large/vancouver_Photo_Plan_Large1.jpg" alt="photo pendant les émeutes de Vancouver">
            </div>
            <div class="inner-left face" id="inner-left">
                <img src="./assets/img/large/vancouver_Photo_Plan_Large1.jpg" alt="photo pendant les émeutes de Vancouver">
            </div>
            <div class="face" id='inner-right'>
                <img src="./assets/img/large/vancouver_Photo_Plan_Large2.jpg" alt="photo pendant les émeutes de Vancouver">
            </div>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(7)">
    <i class="material-icons">fast_forward</i>
</a>
