<!-- question -->
<div ng-hide="show" class="main_row row">
    <div class="main_container_video container col s7">
        <video class="responsive-video video" controls>
            <source src="./assets/img/large/zlatan.mp4" type="video/mp4">
        </video>
    </div>
    <div class="main_sub_container valign-wrapper container col s5">
        <div class="subContainer container col s12 valign">
            <h1 class="sub_title">Zlatan Ibrahimović -<br>Le Complot</h1>
            <p class="sub_p col s12">Et si Zlatan Ibrahimović n'était qu'un complot de l'Eglise catholique ?</p>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(15)">
    <i class="material-icons">fast_forward</i>
</a>
