/*main*/

html {
    color: white;
    font-size: 80%;
}

/* Debut Menu de nagigation par image*/

.pres1fixed {
    width: 100vw;
    z-index: 100;
}
.pres1car {
    width: 100%;
    overflow: hidden;
    z-index: 10;
}
#pres1carousel, .pres1car {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
#pres1carousel li {
    width: 25vw;
    height: 20vh;
    border: 1px solid white;
    list-style: none;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.img_nav {
    height: 100%;
}
.pres1prev, .pres1next {
    color: white;
    font-size: 2rem;
    width: 2vw;
    height: 20vh;
    background-color: #4fc2c0;
    border: 1px solid white;
    line-height: 150px;
    text-align: center;
    z-index: 30;
}
.pres1prev {
    position: absolute;
}
.pres1next {
    position: absolute;
    right: 0px;
}
.title_pres {
    margin-left: auto;
    margin-right: auto;
    width: 24.95vw;
    z-index: 20;
    font-size: 2rem;
    opacity: .8;
    border-radius: 0;
    position: absolute;
}
.title_pres img {
    margin-left: 30px;
}
.active::before {
    position: absolute;
    background-color: #4fc2c0;
    opacity: .8;
    height: 15px;
    line-height: 15px;
    width: 24.95vw;
    content: "active";
    border-right: 1px solid white;
    color: #4fc2c0;
    bottom: 0;
    font-size: .1rem;
}
/* Fin Menu de nagigation par image*/
