/*main*/
html {
  color: white;
  font-size: 80%;
}
.turquoise {
  color: #4fc2c0;
}
.bleu {
  color: #2a477c;
}
.violet {
  color: #472f76;
}
.orang {
  color: #f3a02f;
}
.vert {
  color: #35b562;
}
.main_parcours {
  margin: 0;
}

/* parcours */
.main_row {
  display: flex;
  margin-top: 10px;
  height: 62vh;
  width: 100vw;
}
.main_container, .main_sub_container {
  margin-top: 30px;
  width: 100%;
}
.container_img {
  width: 100%;
}
.container_img img {
  width: 100%;
}
.main_p {
  margin: 10px;
  height: 12vh;
  font-size: 2.5rem;
}
.sub_title {
  margin-top: 0;
  margin-bottom: 0;
}
.sub_p {
  margin: 15px;
  height: 30vh;
  font-size: 2.5rem;
}
.sub_main {
  display: flex;
  flex-direction: row;
}
.sub_btn_choice {
  font-size: 3rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.btn_choice {
  position: absolute;
  right: 40px;
  bottom: -70px;
  background-color: #597dbe;
  /*border-radius: 30px;*/
}
.choice {
  padding-left: 20%;
  margin-top: -20%;
  height: 10vh;
  font-size: 3.1rem;
  line-height: 10vh;
  background-color: inherit;
  color: white;
}
.choice img {
  height: 100%;
  width: auto;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}
.bigger img {
  height: 140%;
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

/* answer */

.main_row_answer {
  margin-top: 50px;
  height: 65vh;
}
.main_container_answer {
  height: 60vh;
  margin-top: 30px;
}
.main_sub_container_answer {
  position: relative;
  height: 65vh;
}
.sub_p_answer {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 2rem;
  height: 45vh;
}
.sub_btn_answer {
  font-size: 3rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
.btn_answer {
  background-color: #597dbe;
  width: 80%;
  margin-top: 10px;
  /*border-radius: 30px;*/
}

/*TEXT Conclusion */


.main_sheet16{
  margin-top: 100px;
}
.line{
    font-size: 5rem;
    width: 22em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

/* Animation */
.anim-typewriter:nth-child(1){
  animation: typewriter 4s steps(44) 1s 1 normal both;
}


.anim-typewriter:nth-child(2){
  animation: typewriter 4s steps(44) 3s 1 normal both;
}

.anim-typewriter:nth-child(3){
  animation: typewriter 4s steps(44) 4s 1 normal both;
}
.anim-typewriter:nth-child(4){
  animation: typewriter 4s steps(44) 8s 1 normal both;
}

.anim-typewriter:nth-child(5){
  animation: typewriter 4s steps(44) 10s 1 normal both;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 22em;}
}


/*Split*/



.reveal {
  width: 100%;
  height: 300px;
  margin-top: 50px;
  margin-bottom: 75px;
  margin-left: 35%;
  float: left;
  position: relative;
}
.reveal-top, .reveal-bottom {
  position: absolute;
  width: 100%;
  height: 500px;
}
.reveal-top {
  left: 0;
}

.reveal-bottom {
  left: 95px;
}

.reveal:hover .reveal-top{
  left: -50px;

}

.reveal:hover .reveal-bottom{
  left: 150px;

}
.reveal-top, .reveal-bottom{
  -webkit-transition: left 0.3s ease;
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -ms-transition: left 0.3s ease;
  transition: left 0.3s ease;
}

.circuit .reveal-top{
  background-image: url(../img/large/recadrage1.jpg);
  background-repeat: no-repeat;
}

.circuit .reveal-bottom {
  background-image: url(../img/large/recadrage2.jpg);
  background-repeat: no-repeat;
}

/*manage the button positioning on sheet5' response*/

.decal_button {
  margin-top: 300px;
  margin-left: 200px;
}
