/* Debut Menu de nagigation par image*/

.pres1fixed {
  width: 100vw;
  position: absolute;
  margin-top: 1vh;
}

.pres1car {
  width: 100%;
  overflow: hidden;
}

#pres1carousel, .pres1car {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

#pres1carousel li {
  width: 25vw;
  height: 150px;
  border: 1px solid white;
  list-style: none;
}

#pres1carousel li img {
  width: 100%;
  height: 100%;
}

.pres1prev, .pres1next {
  color: white;
  font-size: 2em;
  width: 2vw;
  height: 150px;
  background-color: #2A477C;
  border: 1px solid white;
  opacity: 0.7;
  line-height:150px;
  text-align:center;
}

.pres1prev {
  position: absolute;
}

.pres1next {
  position: absolute;
  right: 0px;
}

.active::before {
  position: absolute;
  background-color: #2A477C;
  opacity: .8;
  height: 15px;
  line-height: 15px;
  width: 25vw;
  content: "active";
  border-right: 2px solid white;
  color: #2A477C;
  bottom: 1px;
}
/* Fin Menu de nagigation par image*/
