/* parcours: specific animation */


/*TEXT Conclusion */
.main_sheet16{
  margin-top: 100px;
}
.line{
    font-size: 5rem;
    width: 22em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}
