/* parcours: specific animation */

.bulle {
    bottom: 5%;
    position: absolute;
}

#logo_minion {
    position: absolute;
    left: 38%;
    top: 0;
    width: 15%;
}


/* flip flop */

.container_img_flip {
    position: relative;
    margin-left: 10px;
}

.container_img_flip img {
    width: 100%;
}


/* tefal */

.tefal {
    margin-top: 2%;
    margin-left: 15%;
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 100%;
}

.container_img_grey_tefal_answer {
    height: 90%;
}

.img_grey_tefal {
    position: relative;
    width: 85%;
}


/* djibouti */

.img_grey_djibouti {
    position: relative;
    width: 90%;
    margin-top: 2%;
    margin-left: 20%;
}


/* tinder */

.highlight, .tinder_highlight1, .tinder_highlight2, .tinder_highlight3, .tinder_highlight4 {
    position: absolute;
    background-color: yellow;
    opacity: .4;
}

.highlight {
    width: 35%;
    height: 50%;
    bottom: 0;
    right: 3%;
}

.tinder_highlight1 {
    width: 7%;
    height: 5%;
    top: 63%;
    left: 25%;
}

.tinder_highlight2 {
    width: 11%;
    height: 5%;
    top: 36%;
    right: 31%;
}

.tinder_highlight3 {
    width: 8%;
    height: 5%;
    top: 43%;
    right: 42%;
}

.tinder_highlight4 {
    width: 15%;
    height: 5%;
    bottom: 26%;
    right: 34%;
}


/*twitter*/

.title_Twitter {
    margin-left: 30%
}

.twitter {
    margin-top: -4%
}

.teuteur {
    width: 31%;
}

.size_middle_answer_block {
    width: 70%;
    margin-top: -1%
}

.zoomTwitter {
    cursor: pointer;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoomTwitter:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.answer_smiley1 {
    position: absolute;
    margin-top: 1%;
    margin-left: -27%;
    width: 4%;
}

.answer_smiley2 {
    position: absolute;
    margin-top: 1%;
    margin-left: 0.5%;
    width: 4%;
}

.answer_smiley3 {
    position: absolute;
    margin-top: 1%;
    margin-left: -27%;
    width: 4%;
}

.answer_smiley4 {
    position: absolute;
    margin-top: 1%;
    margin-left: -27%;
    width: 4%;
}

.answer_smiley5 {
    position: absolute;
    margin-top: 1%;
    margin-left: 0.5%;
    width: 4%;
}

.size_middle_answer_twitter_example {
    width: 100%;
}

.sub_main.container.col.s12.vrai_faux0 {
    margin-top: -53%;
    margin-left: 0;
}

.sub_main.container.col.s12.vrai_faux1 {
    margin-top: -45%;
    margin-left: 0;
}

.sub_main.container.col.s12.vrai_faux2 {
    margin-top: -36%;
    margin-left: 0;
}

.sub_main.container.col.s12.vrai_faux3 {
    margin-top: -27%;
    margin-left: 0;
}

.sub_main.container.col.s12.vrai_faux4 {
    margin-top: -18%;
    margin-left: 0;
}
.responsive-img.twitter2 {
    width: 100%;
}


/* loupe graph */

.img-loupe {
    position: absolute;
    z-index: 10;
    bottom: 2%;
    left: 2%;
    width: 25%;
}

.img-loupe img {
    width: 100%;
}


/*TEXT Conclusion */

.main_sheet16 {
    margin-top: 100px;
}

.line {
    font-size: 5rem;
    width: 22em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}


/*Foot */

.size_foot {
    width: 75%;
}


/* parcours: specific animation */


/*TEXT Conclusion */

.main_typewriter {
    margin-top: 100px;
}

.line {
    font-size: 5rem;
    width: 22em;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}


/* ajout steph */
.video {
  width: 100%;
}
.video_hippo, .video_canal, .video_popcorn {
  height: 90% !important;
}
.img_causalite_small {
  margin-top: -7%;
  margin-left:7%;
}
.fab_chiffre {
  width: 90%;
}
