<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container_grey_high container col s8">
            <img ng-click="show = true" class="size_middle_answer pointer" src="views/pres2/assets/img/large/Le_radeau_de_la_Meduse.jpg">
            <p class="sub_p col s12">Proposez différents recadrages possibles pour ce tableau, afin de lui faire dire totalement autre chose.</p>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true"><i class="material-icons">fast_forward</i></a>
<!-- answer -->
<div ng-show="show" class="main_row row col s12">
    <div class="main_container_grey_high container col s8">
            <img class="size_middle_answer slideExpandUp" src="views/pres2/assets/img/large/Le_radeau_de_la_Meduse.jpg">
            <p class="sub_p col s12">Quel est l’intérêt de procéder à de tel recadrage ?</p>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(9)"><i class="material-icons">fast_forward</i></a>
