<!-- question -->
<div ng-hide="show" class="main_row row">
    <div class="container col s8">
        <img ng-click="show = true" class="size_middle_answer pointer" src="./assets/img/large/enquete1.jpg" alt="résultats d'une enquête">
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row valign-wrapper row">
    <div class="container valign col s6">
        <img ng-click="show = true" class="pointer fab_chiffre expandDown" src="./assets/img/large/enquete-resultat.jpg" alt="analyse d'une enquête">
    </div>
    <div class="container valign col s6">
        <img ng-click="show = true" class="pointer fab_chiffre expandDown" src="./assets/img/large/enquete-interpretation.jpg" alt="différentes lectures des résultats d'une enquête">
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(7)">
    <i class="material-icons">fast_forward</i>
</a>
