<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_sub_container container col s5">
        <div class="subContainer row col s12">
            <h1 class="sub_title">14h53</h3>
            <p class="sub_p col s12"><b><span>FRANCE</span></b>- Présentation et lancement de la nouvelle campagne choc contre les violences conjugales par le collectif des associations de soutien aux femmes victimes.</p>
        </div>
        <div class="sub_container row col s12">
          <ul class="sub_main container col s12">
              <li class="col s6">
                <a class="btn-floating btn-large choice" id="true_answer" ng-click="vm.biggerTrueAnswer()"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</a>
              </li>
              <li class="col s6">
                <a class="btn-floating btn-large choice" id="false_answer" ng-click="vm.biggerFalseAnswer()"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</a>
              </li>
          </ul>
        </div>
    </div>
    <div class="main_container container col s7">
            <img class="responsive-img" src="views/pres1/assets/img/large/tefal_left.png">
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true"><i class="material-icons">fast_forward</i></a>
<!-- answer -->
<div ng-show="show" class="main_row_answer row col s12">
    <div class="main_sub_container_answer container col s4">
        <h1 class="sub_title">10h16</h1>
        <p class="sub_p_answer col s12"><b><span>FRANCE</span></b>- Présentation et lancement de la nouvelle campagne choc contre les violences conjugales par le collectif des associations de soutien aux femmes victimes.</p>
    </div>
    <div class="main_container_answer container col s8">
            <div class="marking_right" ng-show="true">
                <img class="responsive-img" src="./assets/icon/angry_red.png" alt="faux">
            </div>
            <img class="responsive-img" src="views/pres1/assets/img/large/tefal_left.png">
            <img class="responsive-img slideExpandUp" id="slide_six_position" src="views/pres1/assets/img/large/tefal_right.png">
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(6)"><i class="material-icons">fast_forward</i></a>
