<!-- question -->
<h2>Exercice autour du légendage</h2>
<div class="main_row_legendage row col s12">
    <div class="main_container_legendage container col s7">
        <div class="container_img_legendage">
            <img class="responsive-img pointer" src="views/pres1/assets/img/large/Djibouti_John_Steinmeyer.jpg" ng-click="showRecadrage = true">
        </div>
    </div>
    <div class="main_sub_container_legendage container col s5">
        <div ng-show="showRecadrage" class="subContainer_legendage row col s12 animRotate">
            <h1 class="sub_title">Légende originale :</h1>
            <p class="sub_p col s12"><b>Des migrants africains tentent de capter un réseau téléphonique pour joindre leurs proches le 26 février 2013 à Djibouti.</b><br /><br /><br /><br />©John Steinmeyer. Photo lauréate du World Press Photo 2014.</p>
        </div>
    </div>
</div>
<a class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(4)"><i class="material-icons">fast_forward</i></a>
