<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s6">
        <div class="container_img">
          <div class="reveal circuit">
            <div class="reveal-top"></div>
            <div class="reveal-bottom"></div>
          </div>
        </div>
        <p class="main_p col s12">
            <b>
                <span>Exercice</span>
            </b>
            Recadre la photo</p>
            <button class="btn_answer">
              <a class="sub_btn_answer" ng-click="vm.nextVisibleSlide(7)">Suivant ></a>
            </button>
    </div>

</div>
