<h4 class="main_title">24h en images</h4>
<div class="main_row container col s10">
    <div class="main_container container col s6">
        <img width="500" src="views/pres1/assets/img/large/carroussel.jpg">
        <p class="main_p"></p>
    </div>
    <div class="main_container container col s6">
      <h3 class="main_text_title">10h16</h3>
      <p class="main_p"><b><span>FRANCE</span></b> - Des policiers pris à partie et braqués par un groupe de jeunes dans le quartier du Bois l’Abbé à Champigny-sur-Marne (Val-de-Marne).</p>
    </div>
</div>
