<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s7">
        <div class="container_img col s12">
            <img class="minion" src="views/pres1/assets/img/large/minions.png">
            <div class="container_incrust col s12">
              <div class=" incrust col s12">
                <img class="responsive-img right" src="views/pres1/assets/img/large/les-minions.png">
              </div>
              <div class="bulle col s12">
                <img class="responsive-img left" src="views/pres1/assets/img/large/minionsBulle.png">
              </div>
            </div>
        </div>
    </div>
    <div class="main_sub_container container col s5">
        <div class="subContainer row col s12">
            <h1 class="sub_title"></h3>
            <p class="sub_p col s12"><b><span></span></b></p>
        </div>
        <div class="sub_container row col s12">
            <ul class="sub_main container col s12">
                <li class="col s6">
                    <a class="btn-floating btn-large choice" id="true_answer0" ng-click="vm.biggerTrueAnswer(0)"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</a>
                </li>
                <li class="col s6">
                    <a class="btn-floating btn-large choice" id="false_answer0" ng-click="vm.biggerFalseAnswer(0)"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row_answer row col s12">
    <div class="main_container_answer container col s12" ng-controller="presoneController as vm">
        <div class="marking position_top_flipflop" ng-show="true">
            <img class="ship_icon" src="assets/img/angry_red-faux.png" alt="faux">
        </div>
        <div class="container_img_flip photo" id="photo" ng-click="vm.flip()">
            <div class="front face" id="front">
                <img src="views/pres1/assets/img/large/minions.png">
            </div>
            <div class="inner-left face" id="inner-left">
                <img src="views/pres1/assets/img/large/minionsHighlight.png">
            </div>
            <div class="face" id='inner-right'>
                <img src="views/pres1/assets/img/large/articleMinionsHighlight.png">
            </div>
        </div>
            <img ng-show="vm.minion == true" class="responsive-img" id="logo_minion" src="views/pres1/assets/img/large/les-minions.png">
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(11)">
    <i class="material-icons">fast_forward</i>
</a>
