<!-- <div ng-hide="show" class="main_row_graph row col s12">
  <div class="col s12">
      <h1 class="header title_graph">Le "permis de tuer" sauve des vies !</h1>
      <div class="card horizontal mycard col s12">
        <div directive-zoom class="card-image">
          <div class="container_graph" id="zoom_area">
            <div id="zoom"></div>
            <img id="zoom_sur" class="rotation graph" src="views/pres1/assets/img/large/graph.jpg" tabindex="1">
          </div>
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p class="sub_p_graph">Les détracteurs de la loi ‘’Défendez
            votre territoire’’ (‘’Stand your ground’’
            en anglais) votée en 2005 dans l’État
            de Floride (États-Unis) en sont pour
            leurs frais. Rapidement comparé à un
            ‘’permis de tuer’’, la loi controversée
            aurait réduit le nombre de morts par
            armes à feu dans l’État. C’est en tout
            cas ce que laisse penser des chiffres
            publiés ce jour.
            Les détracteurs de la loi ‘’Défendez
            votre territoire’’ (‘’Stand your ground’’
            en anglais) votée en 2005 dans l’État
            de Floride (États-Unis) en sont pour
            leurs frais. Rapidement comparé à un
            ‘’permis de tuer’’, la loi controversée
            aurait réduit le nombre de morts par
            armes à feu dans l’État. C’est en tout
            cas ce que laisse penser des chiffres
            publiés ce jour.</p>
          </div>
          <div class="card-action">
            <ul class="sub_main container col s12">
                <li class="col s6">
                    <div id="true_answer" class="chip choice" ng-click="vm.biggerTrueAnswer()"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</div>
                </li>
                <li class="col s6">
                    <div id="false_answer" class="chip choice" ng-click="vm.biggerFalseAnswer()"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</div>
                </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
</div> -->
<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s4">
      <div class="container_img">
          <img class="responsive-img" src="views/pres1/assets/img/large/graph.jpg" tabindex="1">
      </div>
    </div>
    <div class="main_sub_container container col s8">
        <div class="subContainer row col s12">
            <h1 class="sub_title"></h1>
            <p class="sub_p col s12">
              <b>Les détracteurs de la loi ‘’Défendez
                votre territoire’’ (‘’Stand your ground’’
                en anglais) votée en 2005 dans l’État
                de Floride (États-Unis) en sont pour
                leurs frais. Rapidement comparé à un
                ‘’permis de tuer’’, la loi controversée
                aurait réduit le nombre de morts par
                armes à feu dans l’État. C’est en tout
                cas ce que laisse penser des chiffres
                publiés ce jour.</b>
                Les détracteurs de la loi ‘’Défendez
                votre territoire’’ (‘’Stand your ground’’
                en anglais) votée en 2005 dans l’État
                de Floride (États-Unis) en sont pour
                leurs frais. Rapidement comparé à un
                ‘’permis de tuer’’, la loi controversée
                aurait réduit le nombre de morts par
                armes à feu dans l’État. C’est en tout
                cas ce que laisse penser des chiffres
                publiés ce jour.
                Les détracteurs de la loi ‘’Défendez
                votre territoire’’ (‘’Stand your ground’’
                en anglais) votée en 2005 dans l’État
                de Floride (États-Unis) en sont pour
                leurs frais. Rapidement comparé à un
                ‘’permis de tuer’’, la loi controversée
                aurait réduit le nombre de morts par
                armes à feu dans l’État. C’est en tout
                cas ce que laisse penser des chiffres
                publiés ce jour.</p>
        </div>
        <div class="sub_container row col s12">
            <ul class="sub_main container col s12">
                <li class="col s6">
                    <div id="true_answer" class="chip choice" ng-click="vm.biggerTrueAnswer()"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</div>
                </li>
                <li class="col s6">
                    <div id="false_answer" class="chip choice" ng-click="vm.biggerFalseAnswer()"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</div>
                </li>
            </ul>
            <div class="sub_btn_choice row col s12 center-align">
                <button class="btn_choice" ng-click="show = true">
                    <a href="" class="sub_btn_choice">Voir la solution ></a>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- answer -->
<div ng-show="show" class="main_row_answer row col s12">
    <div class="main_container_answer container col s4">
        <div directive-zoom id="zoom_area">
            <div id="zoom"></div>
            <img id="zoom_sur" class="rotation" src="views/pres1/assets/img/large/graph.jpg" tabindex="1">
        </div>
    </div>
    <div class="main_sub_container_answer container col s8">
      <h1 class="sub_title"></h1>
      <p class="sub_p_answer col s12"><b><span></span></b></p>
      <div class="sub_btn_answer row col s12 center-align">
        <button class="btn_answer">
          <a class="sub_btn_answer" ng-click="vm.nextVisibleSlide(10)">Suivant ></a>
        </button>
      </div>
    </div>
</div>
