<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s7">
            <img ng-click="show = true" class="responsive-img size_middle_answer" src="views/pres1/assets/img/large/recadrage.jpg">
            <p class="sub_p col s12"><b><span>Exercice </span></b>- Recadre la photo</p>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true"><i class="material-icons">fast_forward</i></a>
<!-- answer -->
<div ng-show="show" class="main_row_answer row col s12">
    <div class="main_container_answer container col s8">
            <img class="responsive-img size_middle_answer1 slideExpandUp" id="slide_six_position" src="views/pres1/assets/img/large/recadrage2.png">
            <p class="sub_p col s12"><b><span>Recadre la photo </span></b>- insérer un texte</p>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(7)"><i class="material-icons">fast_forward</i></a>
