<h4 class="main_title">24h en images</h4>
<div class="main_row container col s10">
    <div class="main_container container col s8">
        <img src="views/pres1/assets/img/large/le_plus_gros_chien_du_monde.jpg">
        <p class="main_p"></p>
    </div>
    <div class="container">

    <div class="main_container container col s4">
      <h3 class="main_text_title">08h32</h3>
      <p class="main_p"><b><span>ÉTATS-UNIS</span></b> - Première sortie officielle en famille pour le plus grand chien du monde dans un parc de Washington.</p>
    </div>
    <div class="container col s4 center">
      <ul class="main_answer">
        <li><img src="./assets/icon/angry_red.png" alt="Vrai">  Vrai ou</li>
        <li><img src="./assets/icon/like_blue.png" alt="Faux">  Faux ?</li>
      </ul>
      <div class="main_btn_answer">
        <button class="main_btn"><a href="">Voir la solution</a></button>
        <img src="./assets/icon/arrow_grey.png" alt="">
      </div>
    </div>
  </div>
</div>
