<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s4">
        <div class="container_img">
            <img class="responsive-img" src="views/pres1/assets/img/large/Graph-Mort-par-Balle-USA.jpg" tabindex="1">
        </div>
    </div>
    <div class="main_sub_container container col s8">
        <div class="subContainer row col s12">
            <h1 class="sub_title"></h1>
            <p class="sub_p col s12">
                <b>Les détracteurs de la loi ‘’Défendez votre territoire’’ (‘’Stand your ground’’ en anglais) votée en 2005 dans l’État de Floride (États-Unis) en sont pour leurs frais. Rapidement comparé à un ‘’permis de tuer’’, la loi controversée aurait réduit le
                    nombre de morts par armes à feu dans l’État. C’est en tout cas ce que laisse penser des chiffres publiés ce jour.</b>
            </p>
        </div>
        <div class="sub_container row col s12">
          <ul class="sub_main container col s12">
              <li class="col s6">
                <a class="btn-floating btn-large choice" id="true_answer0" ng-click="vm.biggerTrueAnswer(0)"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</a>
              </li>
              <li class="col s6">
                <a class="btn-floating btn-large choice" id="false_answer0" ng-click="vm.biggerFalseAnswer(0)"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</a>
              </li>
          </ul>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true"><i class="material-icons">fast_forward</i></a>
<!-- answer -->
<div ng-show="show" class="main_row_answer anim4 row col s12">
    <div class="main_container_answer container col s4">
        <div directive-zoom id="zoom_area" ng-click="highlight = true">
            <div directive-rotation id="zoom"></div>
            <img id="zoom_sur" src="views/pres1/assets/img/large/Graph-Mort-par-Balle-USA.jpg">
        </div>
    </div>
    <div class="main_sub_container_answer container col s8">
        <h1 class="sub_title"></h1>
        <p ng-hide="highlight" class="sub_p_answer col s12">
            <span>La loi floridienne ‘’Stand your ground’’ a fait couler beaucoup d’encre lors de sa promulgation en 2005. Offrant une conception très large de l’autodéfense, elle s’offre un retour sous les projecteurs inattendu avec la publication de chiffres
                par le département d’application des lois de l’État de Floride. Depuis l’entrée en vigueur de Le "permis de tuer" sauve des vies ! la loi en 2005, le nombre de morts par armes à feu a baissé significativement d’après le graphique communiqué à la
                presse. La NRA (National Rifle Association), puissant lobby pro-arme et soutien indéfectible de cette loi, s’est réjouie de ces chiffres dans un communiqué.</span></p>
        <p ng-show="highlight" class="sub_p_answer col s12">
            <span>La loi floridienne ‘’Stand your ground’’ a fait couler beaucoup d’encre lors de sa promulgation en 2005. Offrant une conception très large de l’autodéfense, elle s’offre un retour sous les projecteurs inattendu avec la publication de chiffres
                par le département d’application des lois de l’État de Floride. Depuis l’entrée en vigueur de Le "permis de tuer" sauve des vies ! la loi en 2005,
                <mark>le nombre de morts par armes à feu a baissé significativement d’après le graphique communiqué à la presse. La NRA (National Rifle Association), puissant lobby pro-arme et soutien indéfectible de cette loi, s’est réjouie de ces chiffres</mark>
                dans un communiqué.</span></p>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(15)"><i class="material-icons">fast_forward</i></a>
