<!-- question -->
<div ng-hide="show" class="main_row row col s12">
    <div class="main_container container col s7">
        <div class="container_img">
            <img class="responsive-img" src="views/pres1/assets/img/large/carroussel.jpg">
        </div>
    </div>
    <div class="main_sub_container container col s5">
        <div class="subContainer row col s12">
            <h1 class="sub_title">19h11</h1>
            <p class="sub_p col s12">
                <b>
                    <span>FRANCE</span>
                </b>
                - Des rues désertes un samedi à Paris après les attentats qui ont ensanglanté la capitale française le 13 novembre 2015. Des Champs-Elysées à l’Opéra, les Parisiens ont délaissé les rues de la ville Lumière.</p>
        </div>
        <div class="sub_container row col s12">
            <ul class="sub_main container col s12">
                <li class="col s6">
                    <a class="btn-floating btn-large choice" id="true_answer0" ng-click="vm.biggerTrueAnswer(0)"><img src="./assets/icon/like_blue.png" alt="vrai">Vrai ?</a>
                </li>
                <li class="col s6">
                    <a class="btn-floating btn-large choice" id="false_answer0" ng-click="vm.biggerFalseAnswer(0)"><img src="./assets/icon/angry_red.png" alt="faux">Faux ?</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<a ng-hide="show" class="btn-floating btn-large btn_choice" ng-click="show = true">
    <i class="material-icons">fast_forward</i>
</a>
<!-- answer -->
<div ng-show="show" class="main_row_answer anim4 row col s12">
    <div class="main_sub_container_answer container col s5">
        <h1 ng-hide="highlight" class="sub_title">19h11</h1>
        <h1 ng-show="highlight" class="sub_title">
            <mark>19h11</mark>
        </h1>
        <p ng-hide="highlight" class="sub_p_answer col s12">
            <b>
                <span>FRANCE</span>
            </b>- Des rues désertes un samedi à Paris après les attentats qui ont ensanglanté la capitale française le 13 novembre 2015. Des Champs-Elysées à l’Opéra, les Parisiens ont délaissé les rues de la ville Lumière.</p>
        <p ng-show="highlight" class="sub_p_answer col s12">
            <b>
                <span>FRANCE</span>
            </b>- Des rues désertes un samedi à Paris après les attentats qui ont ensanglanté la capitale française<mark>le 13 novembre 2015.</mark>Des Champs-Elysées à l’Opéra, les Parisiens ont délaissé les rues de la ville Lumière.</p>
    </div>
    <div class="main_container_answer container col s7">
        <div class="marking position_top" ng-show="true">
            <img class="ship_icon" src="assets/img/angry_red-faux.png" alt="faux">
        </div>
        <div id="zoom_area" class="valign-wrapper">
            <div id="zoom"></div>
            <img class="responsive-img pointer" id="zoom_sur" src="views/pres1/assets/img/large/carroussel.jpg" ng-click="highlight = true">
            <div ng-show="highlight" class="highlight"></div>
        </div>
    </div>
</div>
<a ng-show="show" class="btn-floating btn-large btn_next anim4" ng-click="vm.nextVisibleSlide(3)">
    <i class="material-icons">fast_forward</i>
</a>
